footer {
  background-color: #619561;
  min-height: 300px;
}

.footerleft {
  margin-top: 50px;
  padding: 0 36px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #FFF;
  font-weight: 700;
}

.footerleft p {
  color: #FFF;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.footerleft p i {
  width: 20px;
  color: #FFF;
}

.paddingtop-bottom {
  margin-top: 50px;
}

footer > div > div > div > div > ul,
.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

footer > div > div > div > div > ul,
.footer-ul li {
  line-height: 29px;
  font-size: 14px;
}

footer > div > div > div > span > a,
footer > div > div > div > div > a,
footer > div > div > div > div > ul li a,
.footer-ul li a {
  color: #FFF;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
  margin-right: 10px;
}

footer > div > div > div > span > a:hover,
footer > div > div > div > div > a:hover,
footer > div > div > div > div > ul li a:hover,
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #225500;
  text-decoration: none;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  /* float: left;
  margin-right: 5px; */
}

.copyright {
  font-size: 12px;
  min-height: 40px;
  background-color: #225500;
}

 .copyright a {
  color: #FFF;
}

.copyright p {
  text-align: left;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 14px;
  color: #FFF;
  line-height: 20px;
}

.post p span {
  display: block;
  color: #8f8f8f;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: #FFF;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: #FFF;
  font-size: 12px;
}

div.meteor-blog-latest-post-date > time {
  font-size: 12px;
  color: #F2F2F2;
  margin-left: 10px;
  display: none;
}

.meteor-blog-latest > a,
.meteor-blog-latest-heading {
  display: none;
}
