<template name="home">
  <!-- -*- engine:ctemplate -*- -->
  <div id="fullpage">
    <div class="section header-wrapper">
      <h2 class="main ui header">{{homeSlogan1}}<br><b>{{homeSlogan2}}</b></h2>
      <div class="sub header">
        <h3>{{homeSloganDescription}}</h3>
          <br>
          <br>
      </div>
    </div>
    <div class="section fp-auto-height obj-section">
      <div class="container">
        <div class="row">
          <div class="center-block text-center">
            <h3>{{_"Esta iniciativa tiene varios objetivos"}}</h3>
          </div>
        </div>
        <div class="row ui four column main-content features grid">
          <div class="col-xs-6 col-sm-3 center aligned column">
            <a href="{{ pathFor 'nuevoBebe'}}" class="ui unstyled no-hover-styles no-underline link icon header">
              <span class="headline">{{_"Registrar esos casos"}}</span>
              <i class="fa fa-archive icon"></i>
            </a>
          </div>

          <div class="col-xs-6 col-sm-3 center aligned column">
            <a onclick="$.fn.fullpage.moveSectionDown();" style="cursor: pointer;" class="ui unstyled no-hover-styles no-underline link icon header">
              <span class="headline">{{_"Mapearlos"}}</span>
              <i class="fa fa-map-marker icon"></i>
            </a>
          </div>

          <div class="col-xs-6 col-sm-3 center aligned column">
            <a href="{{ pathFor 'personsList'}}" class="ui unstyled no-hover-styles no-underline link icon header">
              <span class="headline">{{_"Facilitar el reencuentro"}}</span>
              <i class="fa fa-search icon"></i>
            </a>
          </div>

          <div class="col-xs-6 col-sm-3 center aligned column">
            <a href="{{ pathFor 'difusion'}}" class="ui unstyled no-hover-styles no-underline link icon header">
              <span class="headline">{{_"Facilitar la difusión"}}</span>
              <i class="fa fa-bullhorn icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="map" class="section map-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <form id="home-main-form" class="form-horizontal">
              <div class="form-group form-group-lg has-feedback">
                <input id="home-main-search" class="form-control" type="text" placeholder="Buscar por nombre, lugar, hospital, personal médico, etc">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{> yearSlider header="" subheader="Bebes robados entre los años"}}
          </div>
        </div>
        <div class="map-container">
          {{> googleMap name="mainMap" options=mainMapOptions}}
        </div>
        <div class="row">
        {{> personPointer text="Família que busca a un bebe robado" src="/images/gmaps-pointer.png"}}
        {{> personPointer text="Persona que busca su familia biológica" src="/images/gmaps-pointer-familia.png"}}
        {{> personPointer text="Nuevo caso reportado" src="/images/gmaps-pointer-new.png"}}
        </div>
        <div class="row">
          <div class="col-xs-12 assistant-comment">{{_"Puedes pulsar en los marcadores del mapa para obtener más información de cada caso"}}</div>
        </div>
      </div>
    </div>
    <div class="section center-block home-difu">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <h3>{{_"Participa en nuestras campañas de difusión"}}</h3>
          </div>
          <div class="col-xs-12">
            <p class="text-center">{{_"Puedes incluir nuestros 'banners' en tus webs, blogs, etc de forma que nos ayudes a reencontrar a nuestros familiares dando difusión a nuestros casos."}} <a href="{{ pathFor 'difusion'}}">{{_"Más información"}}</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="newspaper-sample">
            {{> difusample}}
          </div>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height">
      {{> homeFooter }}
    </div>
  </div>
</template>

<template name="personPointer">
  <div class="col-sm-4 pointer-legend">
    <span>
      <img class="pointer-legend-img" src={{src}} alt={{_ text}} />&nbsp;{{_ text}}
    </span>
  </div>
</template>
