.bebepub-main {
    margin: 100px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    width: 300px;
    height: 250px;
    background-size: 300px 250px;
    background-repeat: no-repeat;
    /* B/W */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    overflow: hidden;
    text-transform: uppercase;
}

.bebepub-main-wrapper {
    border: 1px solid #e8e8e8;
    width: 300px;
    height: 250px;
}

.bebepub-textarea {
    font-weight: bold;
    line-height: 1.1em;
}

.bebepub-textarea div div {
    padding: 5px;
    margin: 5px;
}

.bebepub-textarea-header {
    position: relative;
    top: 146px;
    left: 50px;
    width: 245px;
    height: 40px;
}

.bebepub-dark {
    background-color: black;
    /* text-align: right;
    opacity: 0.65;
    filter: alpha(opacity=65); */
    color: white;
}

.bebepub-light {
    background-color: #808080;
    opacity: 0.75;
    filter: alpha(opacity=75);
    /* text-align: right; */
    color: black;
}

.bebepub-textarea-subheader {
    position: relative;
    top: 141px;
    left: 50px;
    width: 245px;
    height: 52px;
}

.bebepub-header {
    font-size: 15px;
}

.bebepub-subheader {
    font-size: 12px;
    overflow: hidden;
}

.bebepub-textarea a {
    color: inherit;
}

.AdSample .bebepub-main  {
    float: left;
    margin: 10px;
}

#main > div.photo-up > div {
    border: dashed 2px #8e8e8e;
}