// Main styles

.bebe-tabs {
  margin-bottom: 0px;
}

.bebe-tab-content {
  padding: 20px;
  background-color: #F2F2F2;
}

ul.bebe-tabs li.active a  {
  background-color: #e0e0e0 !important;
}

ul.bebe-tabs li a {
overflow: hidden;
white-space: nowrap;
}

#lugarNacimientoMap, #cementerioEnterradoMap {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

#lugarNacimientoDetalle {
  display: none;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.navbar-brand {
font-size: 24px;
}

.year {
 /* font-weight: bold; */
  color: #338ab7;
}

#yearSlider {
margin: 10px 0 30px;
}

/* http://refreshless.com/nouislider/examples/ */

#yearSlide .connect {
  background: #80C9F5;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}
