// Main styles

.bebe-tabs {
  margin-bottom: 0px;
}

.bebe-tab-content {
  padding: 20px;
  background-color: #F2F2F2;
}

ul.bebe-tabs li.active a  {
background-color: #e0e0e0 !important;
/* color: white !important; */
}
