// Main styles
body {
font-size: 16px;
}

/*  bebe-tabs */

.bebe-tabs {
    margin-bottom: 0px;
}

.bebe-tab-content {
    padding: 20px;
    background-color: #F2F2F2;
}

ul.bebe-tabs li a {
    overflow: hidden;
    white-space: nowrap;
}

.bebeform-content {
    padding: 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.bebeform-tabs {
    padding-left: 0px;
    border-left: 1px solid #ddd;
    padding-right: 0px;
}

.bebeform-tabs > ul {
    border-left: 0px solid #ddd;
}

.bebeform-tabs > ul > li.active > a {
    background-color: #F2F2F2 !important;
}

.bebe-tab-content {
    min-height: 350px;
}

.bebeform-tabs-container {
    margin-bottom: 30px;
}

/* end bebe tabs */

.lugarNacimientoMap-container,
#cementerioEnterradoMap {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

#lugarNacimientoDetalle {
    display: none;
}

.map-container {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.Home .home-header,
.Home .jumbotron h2 {
    text-transform: uppercase;
}


/* Icon titles */

.Home span.headline {
    min-height: 3em;
    display: block;
}

.Home .home-header h2 b,
.Home .jumbotron h2 b {
    font-size: 120%;
}

.Home .home-header h2,
.Home .jumbotron h2,
.navbar,
.headline,
.Home .year-slider-subheader {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
.header-wrapper .ui.main.header {
        line-height: 1.5em;
}

.header-wrapper> div> div> h3 {
    font-size: 22px;
    line-height: 1.5em;
}

.PersonsList .jumbotron h1,
.UserUpdate .jumbotron h1,
.Loading .jumbotron h1 {
    font-size: 54px;
    line-height: 1.3em;
}


/* home icons margin */

.main-content > div {
    padding-left: 0;
    padding-right: 0;
}

div.row.ui.four.column.main-content.features.grid {
    margin: 0 0 10px 0;
}

i.icon {
    font-size: 60px !important;
    padding: 10px !important;
    color: #005500;
/* color:DarkSlateGray; */
}

.headline,
.Home .year-slider-subheader {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

kia.navbar-brand,
.navbar-default .navbar-nav> li> a {
    text-transform: uppercase;
}

.navbar-brand-sub {
    font-size: 14px;
    display: table-row;
    text-transform: uppercase;
}

.navbar-brand-titles {
    display: inline;
    float: right;
    margin: -7px 0 0 5px;
}

.navbar-brand-main {
    display: table-row;
}

.navbar-brand img {}

.navbar-brand {
    font-size: 22px;
}

.year {
    color: #338ab7;
}

#yearSlider {
    margin: 15px 30px 30px;
}

.slider-bottom {
    position: relative;
    top: -20px;
    left: 10px;
}

.Home #yearSlider {
    margin: 30px
}


/* http://refreshless.com/nouislider/examples/ */

#yearSlide .connect {
/* background: #80C9F5;
   box-shadow: inset 0 0 3px rgba(51,51,51,0.45); */
}

#yearSlider {
    cursor: pointer;
}

[data-required] label:after {
    content: ' *';
    color: brown;
}

.jumbotron h2 {
    font-size: 40px;
    margin-bottom: -20px;
}

.is-new {
    color: #ff7f2a;
}


/* tabulartable personList */

.column-center {
    text-align: center;
}

.row-high {
    background-color: #FFEEAA !important;
}

#personsTable> tbody> tr:hover {
    color: grey;
    cursor: pointer;
}


/* icons */

dropdown-menu a {
    white-space: normal;
}

.dropdown-menu> li> a {
    position: relative;
}

.dropdown-menu> li> a {
    padding-left: 30px;
}

.dropdown-menu> li> a> i.icon-bebes {
    padding: 0 15px;
}

.dropdown-menu> li> a> i {
    padding: 0 10px;
}

.dropdown-menu> li> a:hover,
.dropdown-menu> li.active> a:hover,
.dropdown-menu> li.active> a {
    background-color: #e7e7e7;
    color: black;
}

.dropdown-menu> li> a> i {
    position: absolute;
    top: 5px;
    left: 1px;
}


/* custom icon https://stackoverflow.com/questions/19435997/use-image-icons-in-twitter-bootstrap-3 */

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.icon-bebes {
    background-image: url("/images/icon14.png");
    background-position: center center;
}

.Home #yearSlider {
    margin-left: 30px;
}

.year-slider-subheader {
    margin-left: 15px;
}

#comentarios {
    clear: both;
    /* height: 60px; */
}

.comment-section {
    margin-top: 60px;
}

.comments-box {
    max-width: inherit;
}

p.comment-content {
    white-space: pre-line;
}


/* remove comment btn danger style */

div.media-body.comment> div> div> div.btn.btn-danger.remove-action {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
}


/* viewPerson in readonly */

input[disabled],
input[readonly] {
    border: 0px;
    box-shadow: none;
}

select[disabled],
select[readonly] {
    border: 0px;
    box-shadow: none;
}

textarea[disabled],
textarea[readonly] {
    border: 0px;
    box-shadow: none;
}

.title-btn {
    float: right;
}

.field-hidden {
    display: none;
}

.label-no-bold {
    font-weight: normal;
}

#personsTable_filter> label> input {
    width: 220px
}

.main-message {
    margin-top: 110px;
}

.main-message> a.btn {
    margin-top: 20px;
}

.message-spinner {
    margin-top: 70px;
}

.difu-hidden {
    display: none;
}

.difu-visible {}


/* persons gallery */

#links img {
    float: left;
    margin: 5px;
}


/* cookies */

#js-cookie-policy-default {
    background-color: #808080;
}


/* Loading */

.loading-message {
    color: #808080;
    font-size: 35px;
/* font-weight: 300;
   font-family: sans-serif; */
}

.pg-loading-screen {
    opacity: 0.7;
}

.pg-loading-screen .pg-loading-html {
    margin: 0;
}

.pg-loading-html .spinner {
    margin-top: 0;
}

.spinner {
    width: 80px;
    height: 80px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

#nuevoBebeForm> div.page-header> div,
#viewBebeForm> div.page-header> div,
#editaBebeForm> div.page-header> div {
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 1001;
    background-color: #b3b3b3;
    padding: 10px 10px 10px 40px;
    /* border: 1px solid #F6F6F6; */
    /* border-radius: 5px; */
    width: 100%;
}

.Img-fileUpload-thumbnail {
    max-width: 200px;
}


/* Meteor status */

.meteor-status {
    position: absolute;
    bottom: 70px;
    left: 25%;
    right: 25%;
    z-index: 1;
}

div.meteor-status> div.alert-warning {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
}


/* blog */

div.meteor-blog-post-excerpt> small {
    font-size: inherit;
}

div.meteor-blog-post-main> h1,
div.meteor-blog-post-meta.text-center {
    text-align: inherit;
}

.no-respon {
    font-size: 12px;
    margin: 0 20px;
}

.assistant-comment {
    margin-top: 5px;
    color: #808080;
}

.editable-text {
    cursor: text;
}

.editable-text:hover {
    background: #f2f2f2;
    border: 1px solid #808080;
    padding: 8px;
}

input[readonly][type='url'],
input[disabled][type='url'] {
    color: #336699;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px;
    height: auto;
    background: none;
}

.abuse-report {
    white-space: pre-line;
}

.abuse-date {
    white-space: nowrap;
}

button.btn.btn-xs.validate {
    border: 1px solid #8e8e8e;
}

button.btn.btn-xs.validate:hover {
    background-color: white;
}

button.btn.btn-xs.validate> i.fa-times {
    color: IndianRed;
}

button.btn.btn-xs.validate> i.fa-check {
    color: SeaGreen;
}

button.btn.btn-xs.validate {
    background-color: transparent;
}

#nuevoBebeForm> div.form-inline> div,
#viewBebeForm> div.form-inline> div,
#editaBebeForm> div.form-inline> div {
    font-size: 18px;
}

#personsTable button:hover i,
#personsTable button:hover {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

// https://stackoverflow.com/questions/24203617/bootstrap-alert-in-a-fixed-floating-div-at-the-top-of-page
// added to all alerts...
.alert.alert-warning,
.alert-fixed {
    text-align: center;
    position: fixed;
    bottom: 140px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}

.alert-fixed {
    bottom: 70px !important;
}

.obj-section h3 {
    padding-bottom: 30px;
    font-size: 26px;
    text-transform: uppercase;
}

.obj-section {
    padding: 40px 0;
    background-color: #326632;
    color: white;
}

.obj-section i {
    color: white;
}

.map-section {
     // padding: 40px 0;
}

/* datatable sort icon */
table.dataTable thead .sorting:after {
    font-size: 10px;
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: inherit;
    bottom: 10px !important;
}

/* end: datatable sort icon */

/* Home pointer legends */

.pointer-legend {
    margin-top: 5px;
    color: #808080;
}

.pointer-legend-img {
    width: 14px;
}

/* end: Home pointer legends */
/* cropper */

#imagecropper {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.cropper-container {
    /* max-height: 600px; */
}

/* end: cropper */

/* site settings */
td.site-setting-value-column:hover {
    background-color: highlight;
    border: 1px solid #808080;
    cursor: text;
}

/* end: site settings */

/* upload form */

.progress {
    margin-bottom: 0px;
}

.progress-td {
    width: 100%;
}

.form-attachs > .form-group,
.form-photos > .form-group,
.upload-form-container,
#uploadFile {
    width: 100%;
    padding: 0;
}

#uploadFile> div> span> button,
#uploadFile> div> input {
    height: 50px;
}

#uploadFile> div> input {
    padding-top: 10px;
}

#uploadFile> div> input,
#uploadFile> div.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end: upload form */

/* home difu */

.home-difu {
    background-color: white;
}

.home-difu h2,
.home-difu h3 {
    padding-bottom: 1em;
    font-size: 2em;
}

.newspaper-sample > div {
    background-image: url("/images/newspaper-back.png");
    padding: 30px 0;
}

/* end: home difu */

/* media queries
   Copied from:
   https://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries
   (as we cannot access to bootstrap less variables now) */


/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .header-wrapper {
        height: 340px;
        padding: 0 30px;
    }
    .header-wrapper .ui.main.header {
        font-size: 28px;
        line-height: 1.5em;
        padding-top: 80px;
    }
    .header-wrapper> div> div> h3 {
        font-size: 20px;
    }
    .headline,
    .Home .year-slider-subheader {
        font-size: 16px;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
    .navbar-brand-sub {
        font-size: 9px;
    }
    .navbar-brand {
        font-size: 16px;
        padding: 15px 3px;
    }
    .navbar-brand img {
        width: 30px;
    }
    .header-wrapper {
        height: 320px;
        padding: 0 30px;
    }
    .obj-section h3 {
        font-size: 20px;
    }
    .header-wrapper .ui.main.header {
        font-size: 20px;
        padding-top: 70px;
    }
    .header-wrapper> div> div> h3 {
        font-size: 14px;
    }
    .headline,
    .Home .year-slider-subheader {
        font-size: 14px;
    }
    #main> div.container {
        padding: 0px 20px;
    }
    body> .container {
        padding: 40px 15px 20px 15px;
    }
    #personsTable_filter> label> input {
        width: inherit;
    }

    .map-container {
        height: 270px;
    }
    .assistant-comment,
    .pointer-legend {
        font-size: 10px;
    }
    .pointer-legend-img {
        width: 8px;
    }
    .paddingtop-bottom {
        margin-top: 10px;
    }
    .Home #yearSlider {
        margin: 10px 10px 10px 10px;
    }
    .slider-bottom {
        top: -5px;
    }
    .obj-section h3 {
        padding-bottom: 18px;
    }
    .bebeform-tabs > ul > li > a {
        padding: 4px;
    }
    .bebeform-tabs {
        padding-right: 0px;
    }
}

@media(max-width:767px) {}

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {}

@media screen and ( max-height: 800px ){
    .map-container {
        height: 400px;
    }
    .assistant-comment,
    .pointer-legend {
        font-size: 12px;
    }
    .pointer-legend-img {
        width: 10px;
    }
}

@media screen and ( max-height: 650px ){
    .map-container {
        height: 270px;
    }
}

@media screen and ( max-height: 400px ){
    .map-container {
        height: 200px;
    }
    .assistant-comment,
    .pointer-legend {
        display: none;
        font-size: 10px;
    }
    .pointer-legend-img {
        display: none;
        width: 8px;
    }
    .paddingtop-bottom {
        margin-top: 10px;
    }
    .Home #yearSlider {
        margin: 10px 10px 10px 10px;
    }
    .slider-bottom {
        top: -5px;
    }
}

/* end media queries */