<template name="carteles">
  <div class="carteles-casos">
    <div class="cartel-row">
      {{> difu sample="true" backImage="/images/pusample1.jpg" adHeader="Busco a mi hermana, quizás puedas ser tú o la conozcas" headerLink="#" subHeaderLink="#" qrtext="http://google.com" qrsize="70px" }}
      {{> difu sample="true" backImage="/images/pusample3.jpg" adHeader="Busco a mi hijo, quizás puedas ser tú" headerLink="#" subHeaderLink="#" qrtext="http://google.com" qrsize="70px" }}
    </div>
    <div class="cartel-row">
      {{> difu sample="true" backImage="/images/pusample1.jpg" adHeader="Busco a mi hermana, quizás puedas ser tú o la conozcas" headerLink="#" subHeaderLink="#" qrtext="http://google.com" qrsize="70px" }}
      {{> difu sample="true" backImage="/images/pusample3.jpg" adHeader="Busco a mi hijo, quizás puedas ser tú" headerLink="#" subHeaderLink="#"  qrtext="http://google.com" qrsize="70px" }}
    </div>
    <div class="cartel-row">
      {{> difu sample="true" backImage="/images/pusample4.jpg" adHeader="Busco a mi familia biológica, quizá sea la tuya" headerLink="#" subHeaderLink="#"  qrtext="http://google.com" qrsize="70px" }}
      {{> difu sample="true" backImage="/images/pusample2.jpg" adHeader="Busco a mi familia biológica, quizá la conozcas" headerLink="#" subHeaderLink="#" qrtext="http://google.com" qrsize="70px" }}
    </div>
  </div>
  <div class="cartel-footer">
    <div class="cartel-slogan">
      {{siteSetting 'adcampaign-1-slogan'}}
    </div>
    <div class="cartel-right">
      <div class="cartel-qr">{{> QrCode text=sitedomain size="120px" }}</div>
      <div class="cartel-domain">{{siteSetting 'site-domain'}}</div>
      <div class="cartel-tw">{{siteSetting 'site-twitter'}}</div>
    </div>
  </div>
</template>
