.bebepub-main {
  margin: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  width: 298px;
  height: 248px;
  background-size: 300px 250px !important;
  background-repeat: no-repeat !important;
  border: 1px solid #e8e8e8;
  /* B/W */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  overflow: hidden;
  text-transform: uppercase;
  font-size: 14px;
  float: left;
}

.carteles-main .bebepub-main {
  width: 448px;
  height: 373px;
  background-size: 450px 375px !important;
}

.bebepub-main-wrapper {
  width: 300px;
  height: 250px;
}

.carteles-main .bebepub-main-wrapper {
  width: 450px;
  height: 375px;
}

.bebepub-textarea {
  font-weight: bold;
  line-height: 1.1em;
}

.bebepub-textarea div div {
  padding: 5px;
  margin: 5px;
}

.carteles-main div.bebepub-textarea > div  {
  display: none;
}

.bebepub-textarea-header {
  position: relative;
  top: 146px;
  left: 50px;
  width: 245px;
  height: 40px;
}

.carteles-main .bebepub-textarea-header {
  top: 300px;
  left: 90px;
  width: 345px;
  height: 60px;
}

.bebepub-dark {
  background-color: black !important;
  /* text-align: right;
     opacity: 0.65;
     filter: alpha(opacity=65); */
  color: white !important;
}

.bebepub-light {
  background-color: #808080 !important;
  opacity: 0.75;
  filter: alpha(opacity=75);
  /* text-align: right; */
  color: black;
}

.bebepub-textarea-subheader {
  position: relative;
  top: 141px;
  left: 50px;
  width: 245px;
  height: 52px;
}

.bebepub-header {
  font-size: 14px;
}

.carteles-main .bebepub-header {
  font-size: 20px;
  line-height: 1.2em;
  text-align: right;
}

.bebepub-subheader {
  font-size: 12px;
  overflow: hidden;
}

.bebepub-textarea a {
  color: inherit;
  text-decoration: none;
}

.bebepub-label-sample-true {
  margin: -10px;
  color: white;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: 75px;
  left: 100px;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.carteles-main .bebepub-label-sample-true {
  top: 175px;
  left: 170px;
}

.bebepub-label-sample-false {
  display: none;
}

.check-green {
  color: green;
}

.check-red {
  color: red;
}

.img-cropped-legend {
  margin: 10px;
  color: #808080;
}

#files {
  margin: 10px;
}

.carteles-main {
  margin: 0;
}

.cartel-footer {
  background-color: #666666 !important;
  width: 1053px;
  color: white !important;
  padding: 17px;
  height: 225px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 46px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin-top: 12px;
}

.cartel-row {
  display: inline;
}

.cartel-slogan {
  float: left;
  width: 730px;
  line-height: 1.3em;
  padding-top: 10px;
  /* color: white !important; */
  color: #e6e6e6 !important;
}

.cartel-right {
  width: 280px;
  float: right;
  font-size: 26px;
  text-transform: lowercase;
  padding-right: 20px;
}

.carteles-main {
  /* border: 1px solid red; */
  width: 1053px;
  height: 1488px;
}

.carteles-casos {
  padding: 50px;
}

div.carteles-casos > div > a:nth-child(1) > div{
  float: left;
}

div.carteles-casos > div > a:nth-child(2) > div {
  float: right;
}

.cartel-qr img {
  padding: 10px;
  background-color: white !important;
}

.cartel-qr,
.cartel-domain,
.cartel-tw {
  text-align: right;
  color: #e6e6e6 !important;
}

.caso-qr {
  position: relative;
  z-index: 1;
  padding: 5px;
  background-color: white !important;
  top: 225px;
  left: 5px;
  width: 80px;
}

@media print {
  // TODO https://stackoverflow.com/questions/17685957/excluding-bootstrap-from-specific-routes-in-meteor

  body {
    /* https://stackoverflow.com/questions/21964043/can-i-force-phantomjs-to-render-pdfs-with-the-background-images-and-colors */
    -webkit-print-color-adjust: exact;
  }

  .loading-message,
  .spinner,
  .bert-container,
  .bert-alert {
    display: none !important;
    color: transparent !important;
  }
}
