<template name="difusample">
  <!-- -*- engine:ctemplate -*- -->
  <div class="container-fluid">
    {{> difu sample="true" backImage="/images/pusample1.jpg" adHeader="Busco a mi hermana, quizás puedas ser tú o la conozcas" headerLink="#" subHeaderLink="#" }}
    {{> difu sample="true" backImage="/images/pusample3.jpg" adHeader="Busco a mi hijo, quizás puedas ser tú" headerLink="#" subHeaderLink="#" }}
    {{> difu sample="true" backImage="/images/pusample4.jpg" adHeader="Busco a mi familia biológica, quizá sea la tuya" headerLink="#" subHeaderLink="#" }}
    {{> difu sample="true" backImage="/images/pusample2.jpg" adHeader="Busco a mi familia biológica, quizá la conozcas" headerLink="#" subHeaderLink="#" }}
  </div>
</template>
