<template name="difusion">

  <div class="page-header">
    <h2>Campañas de difusión públicas</h2>
  </div>

  <p>Uno de nuestros principales objetivos es poder localizar a nuestros familiares perdidos.</p>
  <p>Para facilitar la difusión de todos estos casos, hemos diseñado unos <em>banners</em> que pueden ser incluidos en otros medios digitales de comunicación que quieran participar en ello y así facilitar el reencuentro.</p>

  <h3>Ejemplos de <em>banners</em></h3>
  <p>Estos son solo unos ejemplos con textos e imágenes ficticias:</p>

  <div class="container-fluid">
    {{> difu sample="true" backImage="/images/pusample1.jpg" adHeader="Busco a mi hermana, quizás puedas ser tú o la conozcas" headerLink="/bebe/KjsSExbdiFosStrvh" subHeaderLink="/" }}
    {{> difu sample="true" backImage="/images/pusample3.jpg" adHeader="Busco a mi hijo, quizás puedas ser tú" headerLink="/bebe/KjsSExbdiFosStrvh" subHeaderLink="/" }}
    {{> difu sample="true" backImage="/images/pusample4.jpg" adHeader="Busco a mi familia biológica, quizá sea la tuya" headerLink="/bebe/KjsSExbdiFosStrvh" subHeaderLink="/" }}
  </div>
  <br>
  <a class="" role="" data-toggle="collapse" href="#usar" aria-expanded="true" aria-controls="usar">
    <h3>¿Cómo usar nuestros <em>banners</em> en tú web?</h3>
  </a>
  <div class="collapse" id="usar">
    <div class="well">
      <p>Puedes participar en nuestras campañas si tienes una web o también animando a quien tenga a incluir nuestros banners</p>
      <p>Para usarlos hay que incluir este código html en tu página web (o si esto te suena a chino, pásale esta página a quien gestione vuestra página web para que lo pueda incluir):</p>
      <pre>
  {{#markdown}}
  ```<iframe src="http://camp1.bebes-test.comunes.org" frameborder="0" style="float: right; overflow:hidden;" height="250px" width="300px"></iframe>```
  {{/markdown}}
      </pre>
      <p>Con cada acceso a la página donde lo incluyáis se mostrará aleatoriamente y rotativamenta uno de los diferentes <em>banners</em> de los diferentes casos que han querido participar en estas campañas mediáticas.</p>
    </div>
  </div>

  {{#if currentUser }}
  {{#if afectado }}

  <h3>¿Participarías en estas campañas como afectado/a?</h3>

  {{> DifuEditor }}

  {{/if}}
  {{/if}}

</template>
