<template name='difu'>
  <!-- -*- engine:ctemplate -*- -->
  <a href='{{headerLink}}' target='_blank'>
    <style scoped>
      .difuimg {
        background-image: url("{{backImage}}") !important;
      }
      @media (max-width: 300px) {
        .difuimg {
          background-image: url("{{backImage}}") !important;
        }
      }
    </style>
    <div class='bebepub-main difuimg' style='background-image: url("{{backImage}}") !important'>
      <div class='bebepub-main-wrapper'>
        <div class='bebepub-label-sample-{{sample}}' >{{_"Imagen de ejemplo"}}</div>
        <div class='bebepub-textarea'>
	  <a href='{{headerLink}}' target='_blank'>
	    <div class='bebepub-textarea-header bebepub-light'>
	      <div class='bebepub-header'>
	        {{adHeader}}
	      </div>
	    </div>
	  </a>
	  <div class='bebepub-textarea-subheader bebepub-dark'>
	    <div class='bebepub-subheader'>
              <a href='{{subHeaderLink}}' target='_blank'>
	        {{siteSetting 'adcampaign-1-slogan'}}
              </a>
            </div>
	  </div>
        </div>
        {{#if qrtext}}
          {{> casoQr text=qrtext size=qrsize}}
        {{/if}}
      </div>
    </div>
  </a>
</template>
