<template name="difusion">

  <div class="page-header">
    <h2>{{_"Campañas de difusión públicas"}}</h2>
  </div>

  <p>{{_"Uno de nuestros principales objetivos es poder localizar a nuestros familiares perdidos."}}</p>
  <p>{{_"Para facilitar la difusión de todos estos casos, hemos diseñado unos 'banners'> que pueden ser incluidos en otros medios digitales de comunicación que quieran participar en ello y así facilitar el reencuentro."}}</p>

  <h3>{{_"Ejemplos de 'banners'"}}</h3>

  {{> difusample}}
  <br>
  <a class="" role="" data-toggle="collapse" href="#usar" aria-expanded="true" aria-controls="usar">
    <h3>{{_"¿Cómo usar nuestros 'banners' en tú web?"}}</h3>
  </a>
  <div class="collapse" id="usar">
    <div class="well">
      <p>{{_"Puedes participar en nuestras campañas si tienes una web o también animando a quien tenga a incluir nuestros 'banners'"}}</p>
      <p>{{_"Para usarlos hay que incluir este código html en tu página web (o si esto te suena a chino, pásale esta página a quien gestione vuestra página web para que lo pueda incluir):"}}</p>
      <pre>
  {{#markdown}}
  ```<iframe src="http://camp1.bebes-test.comunes.org" frameborder="0" style="float: right; overflow:hidden;" height="250px" width="300px"></iframe>```
  {{/markdown}}
      </pre>
      <p>{{_"Con cada acceso a la página donde lo incluyáis se mostrará aleatoriamente y rotativamenta uno de los diferentes 'banners' de los diferentes casos que han querido participar en estas campañas mediáticas."}}</p>
    </div>
  </div>

  {{#if currentUser }}
  {{#if afectado }}

  <h3>{{_"¿Participarías en estas campañas como afectado/a?"}}</h3>

  {{> DifuEditor }}

  {{/if}}
  {{/if}}

</template>
