<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
</head>
<template name="basicLayout">
  <!-- -*- engine:ctemplate -*- -->
  {{> header}}

  {{> cookieConsent}}

  {{#if currentUser}}
    {{#unless currentUser.emails.[0].verified}}
      <p class="alert alert-fixed alert-warning">{{_"Necesitas verificar tu correo para un mejor uso de esta web. Comprueba tu correo o"}} <a href="#" class="resend-verification-link">{{_"reenvía el correo de verificación"}}</a>.</p>
    {{/unless}}
  {{/if}}

  <div class="container {{template}}">
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>

  <section id="lorem-photos" style="display:none">
    {{#each photos}}
      <img id="lorem-photo-{{this}}" src="/images/lorem-photos/{{this}}.jpg">
    {{/each}}
  </section>

</template>
