<template name="personsList">

  <div class="page-header">
    <h2>Búsqueda</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Puedes afinar la búsqueda indicando un rango de años, o por provincia, etc. -->
      {{> yearSlider header="" subheader="Acotar la búsqueda entre los años:" }}
      <p>
        Subrayado en <span class="row-high">amarillo</span> las entradas nuevas o actualizadas recientemente.
      </p>
      <br>
    </div>
    <div class="col-md-6">
      <label for="provSelect" class="label-no-bold">Buscar en:</label>
      <select id="provSelect" class="form-control ps-prov"></select>
      <select id="provSelect" style="display: none;" class="form-control ps-mun"></select>
    </div>
  </div>

  {{> tabular id="personsTable" selector=selector table=TabularTables.Persons class="table table-striped table-condensed"  }}

</template>
