<template name="photosGallery">
  <!-- -*- engine:ctemplate -*- -->

  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if tieneFotos}}
    <label class="col-sm-3 control-label">Fotos de esta persona y familiares</label>
  {{else}}

  {{/if}}
  <div id="links" class="col-sm-9">
    {{#each fotos}}
      <div>
        <a href="{{this.url store='images'}}" target="_blank" title="{{this.name store='images'}}" data-gallery>
          <img src="{{this.url store='thumbs' }}" class="img-fileUpload-thumbnail img-thumbnail img-rounded" alt="{{this.name store='images'}}">
        </a>
      </div>
    {{/each}}
  </div>

</template>
