<template name='yearSlider'>
  <!-- -*- engine:ctemplate -*- -->
  <div class='yearSlider'>
    <div class='year-slider-header row'>{{header}}</div>
    <div class='row'>
        <div class='year-slider-subheader' title='Mover los tiradores'>{{subheader}} <span class='year' id='initSliderYear'></span> y <span class='year' id='endSliderYear'></span>:</div>
    </div>
    <div class='row'>
      <div title='Mover los tiradores' id='yearSlider'></div>
      <span class='slider-bottom assistant-comment'>{{_"Desliza para acotar la búsqueda"}}</span>
    </div>
  </div>
</template>
