<template name="casosReportados">
  {{#if tieneBebes}}
  <hr>
  <h2>Casos denunciados</h2>

  {{#each bebe in bebes}}
  <p><a href="/bebe/{{bebe.slug}}">
    {{#if bebe.buscasBebe}}
    Buscamos bebe
    {{else}}
    Busco a mi familia biológica
    {{/if}}
    {{#if tieneFechaNacimiento bebe}}
    {{#if bebe.buscasBebe}}
    , nacido el {{renderDate bebe.fechaNacimiento}}
    {{else}}
    , nací el {{renderDate bebe.fechaNacimiento}}
    {{/if}}
    {{/if}}
  </a></p>
  {{/each}}
  {{/if}}
</template>
