<template name="viewUser">
  {{> usersForm title="Datos de esta persona" intro="Aquí puedes obtener más información de esta persona, dejarle algún comentario si pudieras aportar algo de información que facilite la búsqueda de su familiar/es." doc=this type="disabled" id="viewUserForm" btnTitle="Cerrar" omitFields="emails, emails.$, emails.$.address, emails.$.verified, profile.conServicioAceptadas, profile.dni, profile.fax, profile.telefono, profile.imagenes"}}

  {{> userGallery }}

  <div id="comentarios"></div>

  <div class="comment-section">
    {{> commentsBox id=this._id}}
    {{> noResponsability }}
  </div>

</template>
