<template name="ad">
  <div class="ad-main" style="background-image: url('{{backImage}}')">
    <div class="ad-main-wrapper">
      <div class="ad-textarea">
	<a href={{headerLink}} targe="_blank">
	  <div class="ad-textarea-header ad-light">
	    <div class="ad-header">
	      {{adHeader}}
	  </div>
	  </div>
	</a>
	<a href={{subHeaderLink}} targe="_blank">
	  <div class="ad-textarea-subheader ad-dark">
	    <div class="ad-subheader">
	      {{adSubHeader}}
	    </div>
	  </div>
	</a>
      </div>
    </div>
  </div>
</template>
