<template name="bebeAdmin">
  <div class="page-header">
    <h1>Administración</h1>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cuentas" aria-controls="cuentas" role="tab" data-toggle="tab">Usuarios/as</a></li>
    <li role="presentation"><a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">Blog</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="cuentas">
      <br>
      <br>
      Sobre los roles: <em>adminRole</em> y <em>authorRole</em> se usan solo para la gestión del blog, mientras que el rol <em>admin</em> es el rol general de administración de esta web y que sirve gestionar usuarios/as, roles, etc.
      <br>
      <br>

      {{> accountsAdmin }}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="blog">
      {{> blogAdmin }}
    </div>
  </div>

</template>
