<template name="bebeAdmin">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cuentas" aria-controls="cuentas" role="tab" data-toggle="tab">Usuarios/as</a></li>
    <li role="presentation"><a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">Blog</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="cuentas">
      <br>
      <br>
      {{> accountsAdmin }}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="blog">
      {{> blogAdmin }}
    </div>
  </div>

</template>
