<template name="contacto">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>

  <p>Si quieres contactar con alguno de los familiares y/o <a href="{{ pathFor 'personsList'}}">casos registrados</a> en esta iniciativa, regístrate en esta web y deja un comentario en la página del familiar o el bebe. De esta forma recibirán un correo con tus comentarios y podrás estar más en contacto con ellos.</p>
  <p>Para otros temas más generales sobre esta iniciativa puedes contactarnos escribiéndonos a PONER_AQUI_UN_@_CORREO_DE_CONTACTO.</p>

</template>
