<template name="legal">

  <h1>CONDICIONES GENERALES DE USO DEL SITIO WEB DE Example FIXME</h1>
  <p><strong>example.com</strong></p>

  <p>
    Example FIXME (en adelante Example FIXME ) con domicilio en Calle FIXME con CIF 999999 representada por Fulano refresentantte FIXME con NIF 9999999999 pone a disposición en su sitio web example.com determinados contenidos de carácter informativo sobre sus actividades.
  </p>

  <p>
    Las presentes condiciones generales rigen única y exclusivamente el uso del sitio web de Example FIXME  por parte de los USUARIOS que accedan al mismo. Las presentes condiciones generales se le exponen al USUARIO en el sitio web example.com en todas y cada una de las páginas y cada vez que un USUARIO introduce sus datos en los formularios existentes, para que las lea, las imprima, archive y acepte a través de internet, no pudiendo el USUARIO introducir sus datos efectivamente sin que se haya producido esta aceptación.
  </p>

  <p>
    Example FIXME está  inscrita en el Registro Mercantil de Registrado en tal registro FIXME.
  </p>

  <p>
    El acceso al sitio web de Example FIXME implica sin reservas la aceptación de las presentes condiciones generales de uso que el USUARIO afirma comprender en su totalidad. El USUARIO se compromete a no utilizar el sitio web y los servicios que se ofrecen en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes condiciones generales.
  </p>

  <h3>PRIMERA.- CONDICIONES DE ACCESO Y USO</h3>

  <p>
    <strong>1.1.-</strong>La utilización del sitio web de Example FIXME no conlleva la obligatoriedad de inscripción del USUARIO, salvo si este USUARIO desee utilizar la base de datos de artículos existentes en example.com donde será preciso que se registre cubriendo un formulario básico, ésta suscripción se regirá por las condiciones generales específicas. Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el principio de buena fe comprometiéndose el USUARIO a realizar un buen uso de la web.  Quedan prohibidos todos los actos que vulneren la legalidad, derechos o intereses de terceros: derecho a la intimidad, protección de datos, propiedad intelectual etc. Expresamente Example FIXME prohíbe los siguientes:
  </p>

  <p>
    <strong>1.1.1.-</strong> Realizar acciones que puedan producir en el sitio web o a través del mismo por cualquier medio cualquier tipo de daño a los sistemas de Example FIXME o a terceros.
  </p>

  <p>
    <strong>1.1.2.-</strong> Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma encubierta, el envío de correos masivos ("spaming") o envío de grandes mensajes con el fin de bloquear servidores de la red ("mail bombing").
  </p>

  <p>
    <strong>1.2.-</strong> Example FIXME podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a la legalidad, la buena fe o a las presentes condiciones generales- ver cláusula quinta.
  </p>

  <h3>SEGUNDA.- CONTENIDOS.- </h3>
  <p>Los contenidos incorporados en este sitio web han sido elaborados e incluidos por:
  </p>

  <p>
    <strong>2.1.-</strong> Example FIXME utilizando fuentes internas y externas de tal modo que Example FIXME únicamente se hace responsable por los contenidos elaborados de forma interna.
  </p>


  <p>
    <strong>2.2.-</strong> Terceros ajenos a, Example FIXME bien mediante colaboraciones directas en el sitio web o bien presentes a través de hiperenlaces o links a otros sitios web o a noticias de otros sitios de los que no es titular Example FIXME. Example FIXME en ningún caso será responsable de los contenidos así introducidos y no garantiza el correcto funcionamiento de todos estos links o hiperenlaces.
    El USUARIO que desee establecer un hiperenlace en su sitio web al sitio web de Example FIXME no realizará un uso ilegal o contrario a la buena fe de las informaciones puestas a disposición en el referido sitio web.
  </p>

  <p>
    <strong>2.3.-</strong> Example FIXME se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio web.
  </p>


  <h3>TERCERA.- DERECHOS DE AUTOR Y MARCA.- </h3>
  <p>Example FIXME informa que el sitio web example.com los contenidos propios, la programación y el diseño del sitio web se encuentra plenamente protegido por los derechos de autor, quedando expresamente prohibida toda reproducción, comunicación, distribución y transformación de los referidos elementos protegidos salvo consentimiento expreso de Example FIXME. Example FIXME  utiliza fuentes externas para la elaboración de sus contenidos en determinadas ocasiones y también establece links o hiperenlaces a artículos o informaciones de terceros citando siempre la fuente. El legítimo titular de los derechos de autor de estas informaciones así incluidas podrá solicitar en cualquier momento la eliminación de las referidas referencias.
  </p>


  <h3>CUARTA.- JURISDICCIÓN Y LEY APLICABLE.- </h3>
  <p>Las presentes condiciones generales se rigen por la legislación española. Son competentes para resolver toda controversia o conflicto que se derive de las presentes condiciones generales los Juzgados de FIXME renunciando expresamente el USUARIO a cualquier otro fuero que pudiera corresponderle.
  </p>

  <h3>QUINTA.- </h3>
  <p>En caso de que cualquier cláusula del presente documento sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de las presentes condiciones. Example FIXME podrá no ejercitar alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte de Example FIXME</p>

</template>
