<template name="autoMedico">
  <span>{{nombreCompletoMedico}}</span>
</template>

<template name="autoEnfermera">
  <span>{{nombreCompletoEnfermera}}</span>
</template>

<template name="autoMatrona">
  <span>{{nombreCompletoMatrona}}</span>
</template>

<template name="autoOtroMedico">
  <span>{{nombreOtroPersonalMedico}}</span>
</template>

<template name="autoFuncionariosRegCivil">
  <span>{{nombreFuncionariosRegCivil}}</span>
</template>

<template name="autoFuncionariosCementario">
  <span>{{nombreFuncionariosCementario}}</span>
</template>

<template name="autoTrabajadoresFuneraria">
  <span>{{nombreTrabajadoresFuneraria}}</span>
</template>

<template name="autoOtrosFuncionariosOTrabajadores">
  <span>{{nombreOtrosFuncionariosOTrabajadores}}</span>
</template>
